.weather__wrapper {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--color-grey-slate) 10%,
    var(--color-grey-charcoal)
  );
  border-radius: 0.25rem;
  overflow: hidden;
}

.weather__current {
  width: 100%;
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 0.5rem;
  padding: 1rem 0.25rem;
}

.weather__current-condition {
  display: grid;
  grid-template-rows: 1fr 2.5rem;
  justify-items: center;
}

.weather__current-condition > p {
  margin: 0;
}

.weather__current-astro {
  self-align: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.weather__current-sun {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding-top: 1rem;
  font-size: 0.75rem;
  text-align: center;
}

.weather__current-sunrise::before,
.weather__current-sunset::before {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 0;
  left: 5px;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
}

.weather__current-sunrise::before {
  background-image: url("../assets/sunriseDarkMode.svg");
}

.weather__current-sunset::before {
  background-image: url("../assets/sunsetDarkMode.svg");
}

.weather__current-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weather__current-data > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

.weather__current-data > p {
  margin: 0;
}

.weather__current-wind {
  font-size: 0.85rem;
}

.weather__current-speed {
  position: relative;
  padding-left: 1.75rem;
}

.weather__current-speed::before {
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-image: url("../assets/windSpeedDarkMode.svg");
  background-repeat: no-repeat;
  top: 0.25rem;
  left: 0.5rem;
  background-size: 1rem;
  content: "";
}

.weather__current-direction {
  position: relative;
  padding-left: 1.5rem;
}

.weather__current-direction::before {
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-image: url("../assets/windDirectionDarkMode.svg");
  background-repeat: no-repeat;
  top: 0.45rem;
  left: 0.25rem;
  background-size: 0.75rem;
  content: "";
  transform: rotate(90deg);
}

.weather__current-temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.25rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--color-grey-silver);
}

.weather__feels-like {
  position: relative;
  padding-left: 1.5rem;
  font-size: 0.85rem;
}

.weather__feels-like::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-image: url("../assets/temperatureFeelsLikeDarkMode.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  content: "";
}

.weather__current-summary {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0 0.25rem;
  font-size: 0.85rem;
}

.weather__summary-item {
  position: relative;
  padding: 0.25rem 0 0 1.25rem;
}

.weather__summary-item::before {
  position: absolute;
  top: 0.4rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  content: "";
}

.weather__summary-item--humidity::before {
  background-image: url("../assets/humidityPercentageDarkMode.svg");
}

.weather__summary-item--rain::before {
  background-image: url("../assets/rainyOutlineDarkMode.svg");
}

.weather__summary-item--pressure::before {
  left: 4px;
  background-image: url("../assets/pressureDarkMode.svg");
}

@media (prefers-color-scheme: light) {
  .weather__wrapper {
    background: linear-gradient(
      to bottom,
      var(--color-grey-slate),
      var(--color-grey-silver) 50%,
      white
    );
  }

  .weather__current-speed::before {
    background-image: url("../assets/windSpeedLightMode.svg");
  }

  .weather__current-direction::before {
    background-image: url("../assets/windDirectionLightMode.svg");
  }

  .weather__current-sunrise::before {
    background-image: url("../assets/sunriseLightMode.svg");
  }

  .weather__current-sunset::before {
    background-image: url("../assets/sunsetLightMode.svg");
  }

  .weather__current-temperature {
    border-bottom: 1px solid var(--color-grey-slate);
  }

  .weather__feels-like::before {
    background-image: url("../assets/temperatureFeelsLikeLightMode.svg");
  }

  .weather__summary-item--humidity::before {
    background-image: url("../assets/humidityPercentageLightMode.svg");
  }

  .weather__summary-item--rain::before {
    background-image: url("../assets/rainyOutlineLightMode.svg");
  }

  .weather__summary-item--pressure::before {
    background-image: url("../assets/pressureLightMode.svg");
  }
}
